<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.html
          path=project.img
          alt="project thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ project.title }}</h2>
          <p class="card-text">{{ project.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if project.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if project.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ project.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>

<!-- _includes/projects_horizontal.html -->
<div class="card-item col">
    {%- if project.redirect -%}
    <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
    {%- endif -%}
      <div class="card hoverable">
        <div class="row g-0">
          {%- if project.img -%}
          <div class="card-img col-md-6">
            {% responsive_image_block %}
              path: {{ project.img }}
              alt: "project thumbnail"
            {% endresponsive_image_block %}
          </div>
          <div class="col-md-6">
          {%- else -%}
          <div class="col-md-12">
          {%- endif -%}
            <div class="card-body">
              <h3 class="card-title text-lowercase">{{ project.title }}</h3>
              <p class="card-text">{{ project.description }}</p>
              <div class="row ml-1 mr-1 p-0">
                {%- if project.github -%}
                <div class="github-icon">
                  <div class="icon" data-toggle="tooltip" title="Code Repository">
                    <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
                  </div>
                  {%- if project.github_stars -%}
                  <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                    <i class="fas fa-star"></i>
                    <span id="{{ project.github_stars }}-stars"></span>
                  </span>
                  {%- endif -%}
                </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

<!-- partials/blox/community/listing.html -->

{{ define "main" }}
  <div class="projects">
    {{ if .Params.display_categories }}
      <!-- Display categorized projects -->
      {{ range .Params.display_categories }}
        <h2 class="category">{{ . }}</h2>
        {{ $category := . }}
        {{ $categorized_projects := where .Site.Pages "Type" "projects" }}
        {{ $sorted_projects := sort $categorized_projects ".Params.importance" }}
        <!-- Generate cards for each project -->
        {{ if .Params.horizontal }}
          <div class="container">
            <div class="row row-cols-2">
              {{ range $sorted_projects }}
                {{ partial "projects_horizontal.html" . }}
              {{ end }}
            </div>
          </div>
        {{ else }}
          <div class="grid">
            {{ range $sorted_projects }}
              {{ partial "projects.html" . }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    {{ else }}
      <!-- Display all projects without categories -->
      {{ $sorted_projects := sort where .Site.Pages "Type" "projects" ".Params.importance" }}
      <!-- Generate cards for each project -->
      {{ if .Params.horizontal }}
        <div class="container">
          <div class="row row-cols-2">
            {{ range $sorted_projects }}
              {{ partial "projects_horizontal.html" . }}
            {{ end }}
          </div>
        </div>
      {{ else }}
        <div class="grid">
          {{ range $sorted_projects }}
            {{ partial "projects.html" . }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}