<!-- partials/blox/community/listing.html -->

{{ define "main" }}
  <div class="projects">
    {{ if .Params.display_categories }}
      <!-- Display categorized projects -->
      {{ range .Params.display_categories }}
        <h2 class="category">{{ . }}</h2>
        {{ $category := . }}
        {{ $categorized_projects := where .Site.Pages "Type" "projects" }}
        {{ $sorted_projects := sort $categorized_projects ".Params.importance" }}
        <!-- Generate cards for each project -->
        {{ if .Params.horizontal }}
          <div class="container">
            <div class="row row-cols-2">
              {{ range $sorted_projects }}
                {{ partial "projects_horizontal.html" . }}
              {{ end }}
            </div>
          </div>
        {{ else }}
          <div class="grid">
            {{ range $sorted_projects }}
              {{ partial "projects.html" . }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    {{ else }}
      <!-- Display all projects without categories -->
      {{ $sorted_projects := sort where .Site.Pages "Type" "projects" ".Params.importance" }}
      <!-- Generate cards for each project -->
      {{ if .Params.horizontal }}
        <div class="container">
          <div class="row row-cols-2">
            {{ range $sorted_projects }}
              {{ partial "projects_horizontal.html" . }}
            {{ end }}
          </div>
        </div>
      {{ else }}
        <div class="grid">
          {{ range $sorted_projects }}
            {{ partial "projects.html" . }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}